#index{
    background-image: url("../images/home23.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrap{
    margin: auto;
    padding-top: 30px;
    width:600px;
    background-color: white;
}
.wrap.catalog{
    margin: auto;
    padding-top: 30px;
    width:900px;
    background-color: white;
}
.wrap.profile{
    margin: auto;
    padding-top: 20px;
    width:700px;
    background-color: white;
}
.card{
    width: 50%;
    float: left;
}

.reviewcontent{
  float: right;
  width: 48%;
  padding-right: 20px
}

.search{
   float: left;
   width:35%;
}

.content{
    float: right;
    width: 65%;
}

.login-form{
    margin: auto;
}
.navbar-nav{
    margin-left: 700px;
    color: cornsilk
}
.nav-item{
    margin-left: 20px;
    font-weight: 600;
}

.jumbotron{
     opacity: 0.7;   
}

.landing-page-detail{
    width: 50%;
    height: 70%;
    padding-top: 70px;
    float: left;
}
.form-group{
    width: 300px;
    font-family: sans-serif;
    padding-left: 10px;
    
}
.signin-form{
    border-radius: 5px;
    color: rgb(8, 8, 8);
}
h3{
    padding: 5%; 
}
#demo{
    opacity: 1;
    float: right;
    width: 315px;
    border-radius: 5px;        
    background-color: white;
}
.form-group.login{
    width: 100%;
}
.form-group.register{
    width: 100%;
}
.form-group.review{
    width: 100%;
}
.form-group.catalog{
    padding-top: 10px;
}
select{
    width: 100%;
    height: 35px;
}
p{

    padding-top: 10px;
    text-align: center;
}
h2{
    text-align: center;
    text-decoration: black;
    font-family:sans-serif;
}
.btn.btn-primary.btn-block{
    padding-left: 10px;
}
.list-group{
    padding-bottom: 20px;
}
#mutura{
    width: 100%;
    height: 10%;
}
.card.review{
    width:100%;
    padding-bottom: 30px;
}
.lbl{
    padding-top: 50px;
}