#index{
    height: 700px;
    background-image: url("../images/home23.jpg");
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#login{
    background-color: #e4ebf0;

}
#regiasterbiz{
    background-color: #e4ebf0; 
}
#post-review{
    background-color: #e4ebf0;
}

.wrap.forms{
    margin: auto;
    padding-top: 30px;
    padding-bottom: 10px;
    width:600px;
    background-color: white;
}
.wrap.catalog{
    padding-top: 30px;
    width: 100%;
    background-color: white;
}
.wrap.profile{
    padding-top: 20px;
    width: 80%;
}
.card{
    width: 50%;
    float: left;
}

.reviewcontent{
  float: right;
  width: 48%;
  padding-right: 20px;
}
.updatecontent{
  float: right;
  width: 48%;
  padding-right: 20px;
  padding-left: 20px;
}

.search{
   float: left;
   width:35%;
}

.content{
    float: right;
    width: 65%;
}

.login-form{
    margin: auto;
}
.navbar-nav{
    margin-left: 600px;
    color: cornsilk
}
.nav-item{
    margin-left: 20px;
    font-weight: 600;
}

.jumbotron{
     opacity: 0.7;   
}

.landing-page-detail{
    width: 50%;
    height: 70%;
    padding-top: 70px;
    float: left;
}
.form-group{
    width: 300px;
    font-family: sans-serif;
    padding-left: 10px;
    
}
.signin-form{
    border-radius: 5px;
    color: rgb(8, 8, 8);
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: white;
}
h3{
    padding: 5%; 
}
#demo{
    opacity: 1;
    float: right;
    width: 315px;
    border-radius: 5px;    
    padding-top: 70px;
}
.form-group.login{
    width: 100%;
    padding-right: 10px;
}
.form-group.register{
    width: 100%;
    padding-right: 10px;
}
.form-group.update{
    width: 100%;
    padding-left: 0px;
}
.form-group.review{
    width: 100%;
    padding-right: 10px;
}

.form-group.delete{
    width: 90%;
    padding-left: 0px;
}
.form-group.catalog{
    padding-top: 10px;
    padding-left: 0px;
}
select{
    width: 100%;
    height: 35px;
}
p{

    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
}
h2{
    text-align: center;
    text-decoration: black;
    font-family:sans-serif;
}
.mbtn.btn-primary.btn-block{
    padding-left: 10px;
}
.list-group{
    padding-bottom: 20px;
}
#mutura{
    width: 100%;
    height: 10%;
}
.lbl{
    padding-top: 30px;
}
.update-form{
    padding-bottom: 50px;
}
h6{
    padding-left: 10px;
}

.btn.btn-primary.update{
    width: 90%;
}
.btn.btn-primary.get-started{
    width: 100%;
}
.container.login{
    padding-top: 30px;
}
.container.register{
    padding-top: 20px;
    padding-bottom: 20px;
}
.container.myprofile{
    width:70%;
    margin:auto;
}
.container.bizprofile{
    width:70%;
    margin:auto;
}
.container.catalog{
    width:70%;
    margin:auto;
}
.container.review{
    width:70%;
    padding-top: 30px;
    margin:auto;
}