<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Business-Profile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--My Custom styles-->

        <link rel="stylesheet" type="text/css" href="styles/styles.css" />
        <!--Bootstrap styles-->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>
    <body id="profilebiz">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                    <a class="navbar-brand" href="myprofile.html">WeConnect</a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                          <a class="nav-link" href="about.html">Why WeConnect?</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="catalog.html">Catalog</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Contacts</a>
                        </li>
                        <li class="nav-item">
                          <button class="btn btn-primary">Log Out</button>  
                        </li>
                    </ul>
            </nav>
            <div class="wrap profile">
                <div class="card">
                    <h2>Mutura kwa Maiko</h2>
                    <img src="images/mutura.jpg" alt="mutura" id="mutura">
                    <p>Come and enjoy the best Mutura north of limpopo and south of the sahara desert.It's sizzling hot and most importantly tasty. </p>
                    <hr>
                    <p>Business Owned by Peter Kamau</p> 
                    <hr>
                    <p>Do you know this business? Review it<a href="postreview.html"> here</a></p>
                  </div>
            </div>
            <aside class="reviewcontent">
                    <h2>Reviews.</h2>
                    <div class="list-group">
                        <div class="list-group-item list-group-item-action">
                        <div class="d-flex justify-content-between">
                            <h5>Sweetest Mutura ever</h5>
                            <small>3 days ago</small>
                        </div>
                            <p>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small>Review by Anne Amandi</small>
                        </a>
                    </div>

                    <div class="list-group">
                            <div class="list-group-item list-group-item-action">
                            <div class="d-flex justify-content-between">
                                <h5>OMG Yummy</h5>
                                <small>3 days ago</small>
                            </div>
                                <p>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                <small>Review by James Mworia</small>
                            </a>
                     </div>
            </aside> 

    </body>
</html>
